$backgroundColorClear: #F0CA4D;
$themeAccentClear: hotpink;

$backgroundColorRain: #4CE4EF;
$themeAccentRain: hotpink;

$backgroundColorSnow: #DD4CEF;
$themeAccentSnow: hotpink;

$backgroundColorSleet: #E37B40;
$themeAccentSleet: hotpink;

$backgroundColorWind: #F53855;
$themeAccentWind: hotpink;

$backgroundColorFog: #46B29D;
$themeAccentFog: hotpink;

$backgroundColorCloudy: #534CEF;
$themeAccentCloudy: hotpink;

$backgroundColorPartlyCloudy: #AFEF4C;
$themeAccentCloudy: hotpink;